.header {
    border: 1px solid red;
    background-color: #000000;
    max-width: 880px;
    min-height: 74px;
    padding: 45px 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 28px 0 73px 27px;
    }
}